<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Event List</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-searchbar [debounce]="600" (ionInput)="handleInput($event)" placeholder="Search events..."></ion-searchbar>
    </ion-toolbar>

  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-refresher #refresher slot="fixed" (ionRefresh)="reloadEvents(refresher)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" [routerLink]="['/events/add']" [routerDirection]="'root'">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list style="padding-bottom: 50px">
      @for (event of events(); track event.id) {
        <event-card 
            [event]="event" 
            (deleted)="deleteEvent(event)"
        >
        </event-card>
      }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>