<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>event-location</ion-title>
    </ion-toolbar>
    <ion-toolbar color="light">
      <ion-title class="ion-text-center address-text">
        <ion-text class="ion-text-wrap">{{ event()!.address }}</ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="full-screen-map">
    <ol-map [coordinates]="coordinates()">
      <ol-marker [coordinates]="coordinates()"></ol-marker>
    </ol-map>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary" (click)="openNavigation()">
        <ion-icon name="navigate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  