<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #eventForm="ngForm" (ngSubmit)="addEvent()">
    <ion-list>
      <ion-item>
        <ion-input
          label="Title:"
          type="text"
          placeholder="Enter title"
          name="title"
          [(ngModel)]="myEvent.title"
          #titleModel="ngModel"
          required
          minlength="5"
          pattern="^[a-zA-Z][a-zA-Z ]*$"
        ></ion-input>
        <!-- 
        @let titleError = eventForm.get('title')?.errors;
        @if(titleError?.['required']) {
        <ion-text color="danger"> Title cannot be empty. </ion-text>
        } @if(titleError?.['minlength']) {
        <ion-text color="danger">
          You are missing at least {{titleError?.['minlength'].requiredLength-
          titleError?.['minlength'].actualLength}} characters more
        </ion-text>
        } @if(titleError?.['pattern']) {
        <ion-text color="danger">
          Title can only contain letters and spaces.
        </ion-text>
        } -->
      </ion-item>

      <ion-item>
        <ion-input
          label="Date:"
          type="date"
          name="date"
          #dateModel="ngModel"
          [(ngModel)]="myEvent.date"
          required
          [min]="minDate"
        ></ion-input>

        <!-- @let dateError = eventForm.get('date')?.errors;
        @if(dateError?.['required']) {
        <ion-text color="danger"> Date is required. </ion-text>
        }@if(dateError?.['minDate']) {
        <ion-text color="danger">
          Date must be at least {{ minDate | date : "dd/MM/yyyy" }}
        </ion-text>
        } -->
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Description:"
          class="form-control"
          placeholder="Enter description"
          #descModel="ngModel"
          [(ngModel)]="myEvent.description"
          name="description"
          required
          minlength="5"
        ></ion-textarea>
        <!-- 
        @let descErrors = eventForm.get('description')?.errors;
        @if(descErrors?.['required']) {
        <ion-text color="danger"> Description is required.</ion-text>
        } @if(descErrors?.['minlength']) {
        <ion-text color="danger">
          You are missing at least {{descErrors?.['minlength'].requiredLength -
          descErrors?.['minlength'].actualLength}} characters more
        </ion-text>
        } -->
      </ion-item>

      <ion-item>
        <ion-input
          label="Price:"
          type="number"
          name="price"
          #priceModel="ngModel"
          [(ngModel)]="myEvent.price"
          required
          min="1"
        ></ion-input>

        <!-- @let priceError = eventForm.get('price')?.errors;
        @if(priceError?.['required']) {
        <ion-text color="danger"> Price cannot be empty.</ion-text>
        } @if(priceError?.['min']) {
        <ion-text color="danger"> Price cannot be 0 or negative</ion-text>
        } -->
      </ion-item>

      <ion-item>
        <ion-label position="inset">Image</ion-label>
        <ion-button color="secondary" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Camera
        </ion-button>
        <ion-button color="tertiary" (click)="pickFromGallery()">
          <ion-icon name="images" slot="start"></ion-icon>
          Gallery
        </ion-button>
      </ion-item>

      @if(imageBase64){
      <ion-img [src]="imageBase64"></ion-img>
      }
    </ion-list>

    <ion-item>
      @if(coordinates()) {
      <ol-map [coordinates]="coordinates()">
        <ga-autocomplete class="searchBar" (locationChange)="changePlace($event)"></ga-autocomplete>
        <ol-marker [coordinates]="coordinates()"></ol-marker>
      </ol-map>
      }
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="eventForm.invalid || !imageBase64"
          >
            <ion-icon name="add" slot="start"></ion-icon>
            Add product
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="danger"
            expand="block"
            fill="outline"
            [routerLink]="['/events']"
            [routerDirection]="'root'"
          >
            <ion-icon name="arrow-undo-circle" slot="start"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
