  .profile-container {
    padding: 20px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 100px; 
    height: 100px;
    margin-right: 20px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .profile-email {
    font-size: 1rem;
    color: var(--ion-text-color);
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .custom-spinner {
    font-size: 60px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    width: 100%;
    text-align: center;
  }
  
  ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }