<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="events"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (profile()) {
  <div class="profile-container">
    <!-- Profile Avatar and Info Container -->
    <div class="profile-header">
      <!-- Profile Avatar -->
      <ion-avatar class="profile-avatar">
        <img [src]="profile()!.avatar" alt="User Avatar" />
      </ion-avatar>

      <!-- User Information (Username and Email) -->
      <div class="profile-info">
        <h2 class="profile-name">{{ profile()!.name }}</h2>
        <p class="profile-email">{{ profile()!.email }}</p>
      </div>
    </div>

    <!-- Map -->
    <ol-map [coordinates]="coordinates()">
      <ol-marker [coordinates]="coordinates()"></ol-marker>
    </ol-map>

    @if(profile()!.me){

    <ion-button id="edit-image-modal" expand="block">Edit Image</ion-button>
    <ion-modal #modal trigger="edit-image-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modal.dismiss()"
                >Close</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
          <ion-item lines="none">
            <ion-label position="stacked">Change Avatar</ion-label>
            <ion-button color="secondary" (click)="takePhoto()">
              <ion-icon name="camera" slot="start"></ion-icon>
              Camera
            </ion-button>
            <ion-button color="tertiary" (click)="pickFromGallery()">
              <ion-icon name="images" slot="start"></ion-icon>
              Gallery
            </ion-button>
            @if (newAvatar) {
            <ion-img [src]="newAvatar" style="width: 200px"></ion-img>
            }
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button
                    type="submit"
                    color="primary"
                    expand="block"
                    (click)="changeImage()"
                  >
                    <ion-icon name="document-text" slot="start"></ion-icon>
                    Change image
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-button id="edit-email-modal" expand="block">Edit Email</ion-button>
    <ion-modal #profileModal trigger="edit-email-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="profileModal.dismiss()"
                >Close</ion-button
              >
            </ion-buttons>
          </ion-toolbar>

          <form (ngSubmit)="changeProfile()" #profileForm="ngForm">
            <ion-item>
              <ion-input
                type="email"
                name="email"
                label="Email"
                [placeholder]="profile()!.email"
                labelPlacement="floating"
                required
                email
                [(ngModel)]="email"
                #emailModel="ngModel"
              ></ion-input>
              @if (emailModel.dirty && emailModel.valid) {
              <ion-icon
                name="checkmark-circle"
                slot="end"
                color="success"
              ></ion-icon>
              }
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                name="name"
                labelPlacement="floating"
                [placeholder]="profile()!.name"
                label="Name"
                required
                minlength="4"
                [(ngModel)]="name"
                #nameModel="ngModel"
              ></ion-input>
              @if (nameModel.dirty && nameModel.valid) {
              <ion-icon
                name="checkmark-circle"
                slot="end"
                color="success"
              ></ion-icon>
              }
            </ion-item>

            <ion-button
              type="submit"
              color="primary"
              expand="block"
              [disabled]="profileForm.invalid"
              >Edit profile</ion-button
            >
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-button id="edit-password-modal" expand="block"
      >Edit Password</ion-button
    >
    <ion-modal #passwordModal trigger="edit-password-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="passwordModal.dismiss()"
                >Close</ion-button
              >
            </ion-buttons>
          </ion-toolbar>

          <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
            <ion-item>
              <ion-input
                type="password"
                name="password"
                label="Password"
                labelPlacement="floating"
                minlength="4"
                required
                [(ngModel)]="password"
                #passModel="ngModel"
              ></ion-input>
              @if (passModel.dirty && passModel.valid) {
              <ion-icon
                name="checkmark-circle"
                slot="end"
                color="success"
              ></ion-icon>
              }
            </ion-item>
            <ion-item>
              <ion-input
                type="password"
                name="password2"
                label="Repeat password"
                labelPlacement="floating"
                required
                [valueEquals]="password"
                [(ngModel)]="password2"
                #passModel2="ngModel"
              ></ion-input>
              @if (passModel2.dirty && passModel2.valid) {
              <ion-icon
                name="checkmark-circle"
                slot="end"
                color="success"
              ></ion-icon>
              }
            </ion-item>

            <ion-button
              type="submit"
              color="primary"
              expand="block"
              [disabled]="passwordForm.invalid"
              >Edit password</ion-button
            >
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
    }
  </div>

  } @else {
  <div class="spinner-container">
    <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
  </div>
  }
</ion-content>
